@page "/about"

<style>
    .title {
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 5vh;
    }

    p ,ul ,li {
        font-size: 1.2em;
    }

    section {
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .container {
        height: auto;
    }
</style>

<PageTitle>About</PageTitle>
<div class="container my-5 d-flex justify-content-center">
    <div class="text-justify">
        <section class="container">
            <h1 class="title">About Sim Identifying</h1>
            <p>The sim card prefix number is the first four-digit number that you can find on your sim card. For
                example, if the
                mobile number is 0953 – 1234567 or 0945 – 8765432. The 0953 and 0945 respectively, are the prefix number
                that
                determines the network provider.

                In the Philippines, you can use it as a reference to determine if the mobile phone number is from a
                major telco
                network such as Smart, Globe, TNT, Touch Mobile (TM), or SUN.

                Due to the growth in numbers of mobile phone users in the Philippines, it became difficult to track down
                what
                network number or prefix number belongs to a particular telco. Unlike some years ago, if the mobile
                phone number
                starts with 0917 you already know that it is from GLOBE, or 0919 from SMART, or SUN cellular if the
                cellphone number
                prefix starts with 0922.

                Smart or TNT Telco Prefix Network Numbers List
                Here is the massive list of 4 digit prefix numbers used by roughly 60 Million Smart and TNT subscribers.
            </p>
        </section>
        <section class="container">

            <h2 class="title">Smart or TNT Telco Prefix Network Numbers List</h2>
            <p>Here is the massive list of 4 digit prefix numbers used by roughly 60 Million Smart and TNT subscribers.
            </p>
            <ul>
                <li>0907</li>
                <li>0908</li>
                <li>0909</li>
                <li>0910</li>
                <li>0911</li>
                <li>0912</li>
                <li>0913</li>
                <li>0914</li>
                <li>0968</li>
                <li>0969</li>
                <li>0970</li>
                <li>0971</li>
                <li>0981</li>
                <li>0982</li>
                <li>0989</li>
                <li>0992</li>
                <li>0998</li>
                <li>0999</li>
                <li>0919</li>
                <li>0920</li>
                <li>0921</li>
                <li>0929</li>
                <li>0930</li>
                <li>0938</li>
                <li>0939</li>
                <li>0940</li>
                <li>0946</li>
                <li>0947</li>
                <li>0948</li>
                <li>0949</li>
                <li>0950</li>
                <li>0951</li>
                <li>0960</li>
                <li>0961</li>
                <li>0968</li>
                <li>0969</li>
                <li>0970</li>
            </ul>
        </section>
        <section class="container">

            <h3 class="title">Globe or TM Prefix Network Numbers List</h3>
            <p>These are the enormous list of 4 digit prefix numbers used by an estimated 70 Million Globe and Touch Mobile (TM)&nbsp; subscribers combined. Among the list, the most
                popular
                ones are 0963, 0966, and 0917.</p>
            <ul>
                <li>0965</li>
                <li>0966</li>
                <li>0967</li>
                <li>0975</li>
                <li>0994</li>
                <li>0995</li>
                <li>0997</li>
                <li>0915</li>
                <li>0916</li>
                <li>0917</li>
                <li>0918</li>
                <li>0926</li>
                <li>0927</li>
                <li>0928</li>
                <li>0935</li>
                <li>0936</li>
                <li>0945</li>
                <li>0953</li>
                <li>0954</li>
                <li>0955</li>
                <li>0956</li>
                <li>0963</li>
                <li>0964</li>
                <li>0906</li>
            </ul>
        </section>
        <section class="container">
            <h4 class="title">SUN Mobile Network Prefix Numbers List</h4>
            <p>Millions of Sun Cellular subscribers are using the following prefix numbers.</p>
            <ul>
                <li>0972</li>
                <li>0922</li>
                <li>0923</li>
                <li>0924</li>
                <li>0925</li>
                <li>0931</li>
                <li>0932</li>
                <li>0933</li>
                <li>0934</li>
                <li>0941</li>
                <li>0942</li>
                <li>0943</li>
                <li>0944</li>
                <li>0952</li>
                <li>0962</li>
            </ul>
            <h5 class="title">Exetel Network Prefix Mobile Numbers</h5>
            <p>So far, there are only two prefix numbers for Exetel Network.</p>
            <ul>
                <li>0973</li>
                <li>0974</li>
            </ul>
            <h5 class="title">Next Mobile Prefix Numbers</h5>
            <p>On the other hand, Next Mobile has only 4 prefix numbers currently available to its subscribers.</p>
            <ul>
                <li>0977</li>
                <li>0978</li>
                <li>0979</li>
                <li>0980</li>
            </ul>
        </section>
        <section class="container">

            <p>You might be wondering why the major telcos such as Globe and Smart have so many prefix numbers allotted
                to
                them. I
                think the main reason, is because they have more than 100 million subscribers combined. Globe has 70
                million
                subscribers while Smart has 60 million. Unlike Exetel or Next Mobile which probably have thousands only.

                You can take note of the list of prefix numbers based on the post. Chances are if you see that the
                person
                calling or
                texting you has 4 digit prefix next to its mobile phone number that is similar to the list above. There
                is a
                high
                chance that it belongs to that particular network.
                For example, if the prefix number is 0953, 0963, or 0966, then it is possible that it is a Globe or TM
                subscriber.
            </p>
        </section>
    </div>
</div>