@page "/"
@inject HttpClient Http

<PageTitle>SimIdentifier</PageTitle>

<div class="justify-content-center text-center">
    <div>
        <input type="number" class="number" id="name" placeholder="Enter Number" required="" @bind="tempNum" @bind:event="oninput" />
        <label for="name" class="label">Enter Number</label>

    </div>
    <div class="my-5 mx-3">
        @if (!String.IsNullOrEmpty(tempNum) && tempNum.Length >= 4)
        {
           
            @foreach (var sim in SimNumbers)
            {
                @foreach (var numbers in sim.Prefix)
                {
                    @if (tempNum.Contains(numbers))
                    {
                        setSimImage(sim.Provider);
                        <img class="logo d-inline mx-5 my-2 img-thumbnail" src="@simtype" />
                    }
                }
            }
        }
    </div>
</div>



@code {
    private string? tempNum;
    private string? simtype;
    private SIM[]? SimNumbers;

    protected override async Task OnInitializedAsync()
    {
        SimNumbers = await Http.GetFromJsonAsync<SIM[]>("sim-data/sim.json");
    }

    public void setSimImage(string name){
        System.Text.StringBuilder sb = new System.Text.StringBuilder("images/");
        sb.Append(name);
        sb.Append(".png");
        simtype = sb.ToString();
    }

    public class SIM
    {
        public string? Provider { get; set; }
        public string[]? Prefix { get; set; }

    }
}