@page "/"
@inject HttpClient Http

<PageTitle>SimIdentifier</PageTitle>
<style>
    .test {
    height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 200px;
}
</style>

<div class="my-5 justify-content-center text-center">
    <div>
        <p class="d-inline mx-5 px-4" > Enter Number :</p>
        <input type="tel" id="phone" placeholder="09123456789" name="phone" pattern="[+]{63}[0-9]{11,14}"
            @bind="tempNum" @bind:event="oninput">
    </div>
    <div class="my-5 mx-3">
        <p class="">Sim type :</p>
        @if (!String.IsNullOrEmpty(tempNum) && tempNum.Length >= 4)
        {
           
            @foreach (var sim in SimNumbers)
            {
                @foreach (var numbers in sim.Prefix)
                {
                    @if (tempNum.Contains(numbers))
                    {
                        setSimImage(sim.Provider);
                        <img class="test d-inline mx-5 my-2 img-thumbnail" src="@simtype" />
                    }
                }
            }
        }else
        {
            <p class="d-inline">Waiting...</p>
        }
    </div>
</div>



@code {
    private string? tempNum;
    private string? simtype;
    private SIM[] SimNumbers;

    protected override async Task OnInitializedAsync()
    {
        SimNumbers = await Http.GetFromJsonAsync<SIM[]>("sim-data/sim.json");
    }

    public void setSimImage(string name){
        System.Text.StringBuilder sb = new System.Text.StringBuilder("images/");
        sb.Append(name);
        sb.Append(".png");
        simtype = sb.ToString();
    }

    public class SIM
    {
        public string? Provider { get; set; }
        public string[]? Prefix { get; set; }

    }
}